<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body a="{{ $.Site.Params.theme_config.appearance | default " auto" }}">
    <main class="page-content" aria-label="Content">
        {{ partial "search.html" . }}
        <div class="w">
            {{- block "main" . }}{{- end }}
        </div>
    </main>
    <footer class="w">
        {{ partial "feedback.html" . }}
        <hr>
        <p><small>Intended for historical research purposes only, and data may be out of date. To find an OPC congregation near you, please visit <a href="https://opc.org/locator.html">opc.org</a>.
</small></p>
        <p><small>Tim Hopper -- <a href="https://ulsterworldly.com">ulsterworldly.com</a></small></p>
    </footer>
</body>
{{- block "scripts" . }}{{- end }}

</html>
