{{ define "main" }}
{{ partial "back_link.html" .}}
<h3 id="result_title"></h3>

<div id="results"></div>

{{ end }}

{{ define "scripts" }}
<script>
    async function run() {
        try {
            console.log('running');
            let [raw_posts, raw_data] = await Promise.all([
                fetch("/search.json"),
                fetch("/search_index.json")
            ]);
            const posts = await (await raw_posts).json()
            const data = await (await raw_data).json()
            const query = new URLSearchParams(window.location.search);
            const searchString = query.get('q');
            let searchBox = document.querySelector('#search');
            if (searchBox) {
                searchBox.value = searchString;
            } const $target = document.querySelector('#results');
            const $title = document.querySelector('#result_title');
            $title.innerHTML = "Search results for <em>" + searchString + "</em>"
            const postsByTitle = posts.reduce((acc, curr) => {
                acc[curr.title] = curr;
                return acc;
            });

            const index = lunr.Index.load(data);
            const matches = index.search(searchString);
            const matchPosts = [];
            matches.forEach((m) => {
                if (postsByTitle[m.ref]) {
                    matchPosts.push(postsByTitle[m.ref]);
                }
            });

            if (matchPosts.length > 0) {
                $target.innerHTML = `<ul>` + matchPosts.map(p => {
                    return `<li><a href="${p.link}">${p.title}</a></li>`;
                }).join('') + `</ul>`;
            } else {
                $target.innerHTML = `<div>No search results found</div>`;
            };
        }
        catch (err) {
            console.log(err);
        };
    }

    (async () => {
        await run();
    })();
</script>
{{ end }}