{{ define "main" }}
{{ partial "back_link.html" .}}
<h3 id="result_title"></h3>

<div id="results"></div>

{{ end }}

{{ define "scripts" }}
<script>
    async function run() {
        try {
            console.log('running');
            let [raw_posts, raw_data] = await Promise.all([
                fetch("/index.json"),
                fetch("/search_index.json")
            ]);
            const posts = await (await raw_posts).json()
            const data = await (await raw_data).json()
            const query = new URLSearchParams(window.location.search);
            const searchString = query.get('q');
            let searchBox = document.querySelector('#search');
            if (searchBox) {
                searchBox.value = searchString;
            } const $target = document.querySelector('#results');
            const $title = document.querySelector('#result_title');
            $title.innerHTML = "Search results for <em>" + searchString + "</em>"
            const postsByTitle = posts.reduce((acc, curr) => {
                acc[curr.title] = curr;
                return acc;
            });

            const index = lunr.Index.load(data);
            console.log(index);
            const matches = index.search(searchString);
            console.log(matches);
            const matchPosts = [];
            matches.forEach((m) => {
                if (postsByTitle[m.ref]) {
                    matchPosts.push(postsByTitle[m.ref]);
                }
            });

            if (matchPosts.length > 0) {
                $target.innerHTML = `<ul>` + matchPosts.map(p => {
                    return `<li><a href="${p.link}">${p.title}</a></li>`;
                }).join('') + `</ul>`;
            } else {
                $target.innerHTML = `<div>No search results found</div>`;
            };
        }
        catch (err) {
            console.log(err);
        };
    }

    (async () => {
        await run();
    })();


    (function () {
        function displaySearchResults(results, store) {
            var searchResults = document.getElementById('search-results');
            console.log(results)

            if (results.length) { // Are there any results?
                var appendString = '';

                for (var i = 0; i < results.length; i++) {  // Iterate over the results
                    var item = store[results[i].ref];
                    appendString += '<li><a href="' + item.url + '"><h3>' + item.title + '</h3></a>';
                    appendString += '<p>' + item.content.substring(0, 150) + '...</p></li>';
                }

                searchResults.innerHTML = appendString;
            } else {
                searchResults.innerHTML = '<li>No results found</li>';
            }
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');

            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');

                if (pair[0] === variable) {
                    return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
                }
            }
        }

        var searchTerm = getQueryVariable('query');

        if (searchTerm) {
            document.getElementById('search-box').setAttribute("value", searchTerm);

            // Initalize lunr with the fields it will be searching on. I've given title
            // a boost of 10 to indicate matches on this field are more important.
            var idx = lunr(function () {
                this.field('id');
                this.field('title', { boost: 10 });
                this.field('ministers');
                this.field('content');
            });

            for (var key in window.store) { // Add the data to lunr
                idx.add({
                    'id': key,
                    'title': window.store[key].title,
                    'ministers': window.store[key].ministers,
                    'content': window.store[key].content
                });

                var results = idx.search(searchTerm); // Get lunr to perform a search
                displaySearchResults(results, window.store); // We'll write this in the next section
            }
        }
    })();

</script>
{{ end }}