{{ define "main" }}

{{ partial "back_link.html" .}}
<article>

  <h1>{{ .Title }}</h1>
  <div class="church-info">
    <p>{{ .Params.location.city }}, <a
        href='{{ "/states/" | relURL }}{{ .Params.location.state | urlize }}/'>{{ .Params.location.state }}</a></p>
    <p>Established on {{ dateFormat "January 2, 2006" .Params.origination_date }}</p>
  </div>

  <div class="Pastor-timeline">
    <h2>Pastoral History</h2>
    {{ range .Params.minister }}
    <div class="Pastor">
      <span class="Pastor-name"></span><a href='{{ "/ministers/" | relURL }}{{ .name | urlize }}/'>{{ .name
        }}</a></span>

      <span class="Pastor-tenure">{{ dateFormat "2006" .start }} - {{ if .end }}{{ dateFormat "2006" .end }}{{ else
        }}present{{ end }}</span>
      <span class="Pastor-role">({{ .type }})</span>
    </div>
    {{ end }}
  </div>

  {{ .Content }}
</article>
{{ end }}